
    <!-- Footer Start -->
    <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-icon margin-bottom-30">
                            <li><a href="https://www.facebook.com/Myself.Vishnu.Kumar" target="_blank" class="facebook"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="https://twitter.com/TheVishnuKumar" target="_blank" class="twitter"><i class="icon-social-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/vishnukumarramawat/" target="_blank" class="linkedin"><i class="icon-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <span style="color:black;">Views: </span> 
                        <img src="https://smallseotools.com/counterDisplay?code=cfd9ec27731b5c9ac954f7e3266dd48d&style=0004&pad=5&type=page&initCount=0"  title="Web Counter" Alt="Web Counter" border="0" style="height: 16px;width: 63px;">
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->

        <!-- Back to Top Start -->
        <a href="#" class="scroll-to-top"><i class="icon-arrow-up-circle"></i></a>
        <!-- Back to Top End -->
        <!-- All Javascript Plugins  -->
        
    </body>
</html>
    